@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap');

:root {
    --fonte1:  'Adamina', serif;
    --fonte2: 'IBM Plex Serif', serif;
    --fonte3: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin:0px;
    padding:0px; 
}

html, body{
    min-height:100vh;
    background-color: rgb(117, 115, 115);
} 

header{
    background-color:#D5C7C6;
    color:#6D714E;
    text-align:center;

    
}

#icon 
{
    width:40px;
    cursor:pointer;
    padding-bottom: 10px;    
}

header > h1 {
    padding-top:50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vw;
}
header > p {
    font-family: var(--fonte2);
    font-size:1.7vw;
    padding-bottom:10px;
}

a{
   color:#32361B;
   text-decoration:none;
   font-weight:bolder;
}
header a, footer a {
    color:#32361B;
    text-decoration:none;
    font-weight:bolder;  
}

header a:hover, footer a:hover {
    text-decoration:underline;
}

section {
    font-family: var(--fonte2);
    font-size: 3.5vw;
    padding-top:25vh;
    padding-bottom:25vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal { 
    background-color:white;
    color:#32361B;
}

section.imagem { 
    background-color:rgb(85, 82, 82);
    color:white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.347);
    background-attachment: fixed;
}

section.imagem > p {
    display:inline-block;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.263);
    text-shadow:1px 1px 0px black;
}

section#img01 {
    background-image: url(..//parallax-effect/images/background01.jpg);
    background-position: center;
    background-size:cover;
}

section#img02 {
    background-image: url(..//parallax-effect/images/background02.jpg);
    background-position: center;
    background-size:cover;
} 


footer{
    font-family:var(--fonte2);
    font-size:2vw;
    background-color:#D5C7C6;
    color:#6D714E;
    text-align: center;
    padding: 10px;

}








